/* collapse 1 */
#headingOne{
    background-color: #1E5926ff;
    opacity: 1;
    color: white;
}
/* collapse 2 */
#headingTwo{
    background-color:#D9CAAEff;

    
}
/* change background when hover on link */
.btn:hover {
    
    color: rgb(22, 21, 21);
    

}

/* image of the background */
body{
    background-color: #213035ff;
}
/* change background color of navbar */

.card-body{
    background-color:  #B99861ff;
    border: none;

}
.card{
    border: none;
}


    
