/* collapse 1 */
#headingOne{
    background-color: #ffef15;
    opacity: 1;
    color: white;
}
/* collapse 2 */
#headingTwo{
    background-color: #ffef15;

    opacity: 0.9;
}
/* change background when hover on link */
.btn:hover {
    
    color: rgb(22, 21, 21);
    

}

/* image of the background */
body{
    background-image:url(https://images.unsplash.com/photo-1581546104493-f7e013a136ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1430&q=80);
}
    
